<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="grid">
        <div class="container">
            <nav>
                <ul class="sideBar">
                    <li><a href="#">Dashboard</a></li>
                    <li><a href="/transaction">Transaction</a></li>
                    <li><a href="/bookmark">Bookmark</a></li>
                </ul>
            </nav>
        </div>
        <div class="container">
            <nav class="navBar">
                <ul class="searchBar">
                    <h3 class="searchBarText">ใส่เนื้อหาที่ต้องการจะค้นหา</h3>
                    <img src="/images/searchIcon.jpg" style="width: 60px">
                </ul>
                <ul class="user">
                    <img src="/images/NotificationIcon.png" style="width: 60px;">
                    <img src="/images/ProfileIcon.png" style="width: 60px; margin-left: 20px; margin-right: 20px;">
                    <h3>Name Surname</h3>
                </ul>
            </nav>
            <div class="showBalance">
                <div class="showBalanceBox">
                    <h3>BALANCE</h3>
                    <h3>10,000</h3>
                </div>
                <div class="showBalanceBox">
                    <h3>TOTAL INCOME</h3>
                    <h3>10,031</h3>
                </div>
                <div class="showBalanceBox">
                    <h3>TOTAL EXPENSE</h3>
                    <h3>2,000</h3>
                </div>
            </div>
            <div class="showTransaction">
                <div class="showTransactionHistory">
                    <h1>Transaction History</h1>
                </div>
                <div class="showTransactionToday">
                    <h1>Transaction Today</h1>
                    <table border="1" width = 100%>
                        <tr class="head-table">
                                <th>Transaction</th>
                                <th>Amount</th>
                                <th>Type</th>
                        </tr>
                        <tr>
                            <th>Keyboard</th>
                            <th>$6,000</th>
                            <th>Exp.</th>
                        </tr>
                       <tr>
                            <th>Salary</th>
                            <th>$50,000</th>
                            <th>Inc.</th>
                       </tr>
                    </table>
                </div>
            </div>
    
        </div>
    </div>
    
</body>
</html>