nav{
    display: flex;
    justify-content: space-between;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sideBar{
    list-style-type: none;
    gap : 20px;
}

.sideBar a{
    display: block;
    font-size : 30px;
    margin-top: 30px;
    text-decoration: none;
    color : #6DAEFC;
    font-family: Jost;
    border : 2px solid black;
    padding-left : 20px;
    padding-right : 20px;
    border-radius: 10px;
}

/* .sideBar a:focus{
    background-color: rgb(97, 147, 216);
} */

.grid{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap : 40px;
    margin-left : 20px;
    margin-right : 20px;
    height : 100%;
    
}

.container{
    box-sizing: border-box;
   
    margin-bottom: 10px;
    padding : 10px;
}

.searchBar{
    display: flex;
    width : 70%;
    height : 50px;
    background-color: rgb(218, 255, 255);
    border : 3px solid black;
    border-radius: 10px;
}

.searchBarText{
    color : rgb(117, 107, 107);
    flex-grow: 1;
    min-width: 150px;
}

.searchIcon{
    width : 30px;
}

.user{
    display: flex;
}

table{
    border : none;
}

.table-container{
    padding-left : 0px;
    padding-right : 0px;
    padding-bottom: 0px;
    margin-top : 0px;

}

.head-table{
    background-color :rgb(172, 168, 168);
}

.editBar{
    display : flex;
    gap : 20px;
    justify-content: center;
    border : 2px solid black;
    width : 50%;
    margin-left : 25%;
}

.editText{
    text-decoration: none;
    color : black;
    font-weight: bolder;
}

.addBar{
    display : flex;
    justify-content: center;
    margin-bottom: 20px;
}

.addIcon{
    font-size : 50px;
    text-decoration: none;
}

.showBalance{
    display: flex;
    gap : 20px;
}

.showBalanceBox{
    border : 2px solid black;
    width : 25%;
    text-align: center;
}

.showBalanceBox a{
    
}

.showTransaction{
    display: flex;
}

.showTransactionHistory{
    border : 2px solid black;
    margin-top : 20px;
    width : 45%;
    height: 50vh;
}

.showTransactionToday{
    margin-left : 20px;
    margin-top : 20px;
    width : 50%;
    border : 2px solid black;
}


.addBar-popup .overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.7);
    z-index: 1;
    display: none;
}

.addBar-popup .content {
    position: absolute;
    left: 40%;
    transform: scale(0);
    transition: transform 0.3s ease-in-out;
    background: #fff;
    width: 600px;
    height: 750px;
    z-index: 2;
    border-radius: 7px;
    padding: 30px;
    box-sizing: border-box;

}

.addBar-popup .close-btn{
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    background: #222;
    color: #fff;
    font-size: 25px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

.addBar-popup.active .overlay{
    display: flex;
}

.addBar-popup.active .content{
    transition: all 300ms ease-in-out;
    transform: scale(1);
    cursor: pointer;
    font-size: 20px;
    top: 90px;
}

.addBar-btn {
    display: flex;
    justify-content: center;  
    align-items: center;     
    margin-bottom: 20px;
}


.addBar-btn button {
    background: none;      
    border: none;         
    color: inherit;       
    font-size: 46px;      
    cursor: pointer;      
    padding: 5px 10px;   
}

.addBar-btn button:hover {
    text-decoration: underline; 
}

form {
    display: flex;
    flex-direction: column;
    
}

label {
    font-weight: bold;
    font-size: 20px;
    margin-top: 15px;
    color: gray;
}

input {
    width: 95%;
    padding: 8px;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.input-date {
    width: 88%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 48%;
    margin-top: 15px;
}

.save-btn {
    background: gray;
    color: white;
    padding: 10px;
    border: none;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 20px;
}

.or {
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
    color: gray;
    font-size: 25px;
}

.bookmark-btn {
    background: gray;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    
}

.editBar-btn button {
    background: none;      
    border: none;         
    color: inherit;  
    cursor: pointer;      
}